* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: #022636;
}
.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
.App {
  background-color: rgb(13, 62, 75);
  border-radius: 40px;
  width: 400px;
  padding: 15px;
  box-shadow: 23px 31px 0px -7px rgba(0, 0, 0, 0.91);
}
.container--grip {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(6, 95px);
}
.boton {
  background-color: rgb(5, 141, 252);
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin: 1.5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.boton:hover {
  background-color: rgb(0, 101, 184);
}
.boton:active {
  background-color: rgb(0, 61, 110);
  color: rgb(255, 255, 255);
}
.display {
  height: 150px;
  padding-right: 15px;
  background: rgb(24, 24, 24);
  margin-bottom: 8px;
  overflow: hidden;
  color: aliceblue;
  display: grid;
  align-content: center;
  justify-content: end;
  cursor: grab;
}
.valor__atual {
  text-align: end;
  font-size: 60px;
}
.valor__anterior {
  text-align: end;
  font-size: 180%;
  color: rgb(5, 141, 252);
}
.opc {
  color: rgba(0, 177, 118, 0.986);
}
.igualdad {
  background-color: rgba(0, 177, 118, 0.986);
}
.igualdad:hover {
  background-color: rgba(1, 138, 92, 0.986);
}
.igualdad:active {
  background-color: rgba(0, 75, 50, 0.986);
}
.result {
  background-color: rgb(219, 204, 69);
  color: rgb(6, 64, 87);
}
.result:hover,.info:hover {
  background-color: rgb(179, 166, 56);
  color: rgb(0, 0, 0);
}
.result:active,.info:active {
  background-color: rgb(133, 123, 40);
  color: rgb(255, 255, 255);
}

.divp p {
  font-size: 35px;
  margin: -20px;
  margin-top: -30px;
}
.info{
  display: block;
  background-color: rgb(219, 204, 69);
font-size: 20px;
padding: 5px;
border-radius: 10px;
margin: 40px auto;
text-align: end;
}

@media (max-width: 600px) {
.panel {
 
  margin: 0;
}}